* {
  margin: 0;
  padding: 0;
}

body {
  background-color: purple;
}

/*====================================== MAIN ======================================*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainProjects {
  background-image: linear-gradient(180deg, #3c0541, #65086eb9);
  height: 100vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.backMainPanel {
  height: 760px;
  width: 70%;
  background-color: white;
  border-radius: 0.4rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPanel {
  height: 700px;
  width: 100%;
  background-color: #202124;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  color: white;
}

.mainPanel h1 {
  margin-top: 2rem;
  font-size: 42px;
}

/*====================================== BOTOES ======================================*/

.botoesProjetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-top: 8rem;
}

.projectButton {
  margin: 2rem 1rem 1rem 1rem;
  height: 120px;
}

.glow-on-hover {
  border: 2px solid black;
  outline: none;
  color: black;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
  font-weight: 500;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#sgurd-website {
  border: 2px solid white;
  background-image: linear-gradient(
    75deg,
    rgb(156, 11, 11),
    rgb(80, 7, 7),
    rgb(90, 15, 15),
    rgb(110, 14, 14)
  );
  color: white;
  transition-duration: 0.2s;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
#sgurd-website:hover {
  background-position: 0;
  color: white;
  box-shadow: 0 5px 0 rgb(243, 243, 243);
}

#sgurd-website:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 
#calculadoraButton {
  border: 2px solid #0d021a;
  background-image: radial-gradient(#0d021a, #331b4d);
  background-size: 100% 100%;
  color: red;
} */

#calculadoraButton {
  border: 2px solid #0d021a;
  background-image: linear-gradient(75deg, #0d021a, #331b4d);
  color: white;
  transition-duration: 0.2s;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
#calculadoraButton:hover {
  background-position: 0;
  color: white;
  box-shadow: 0 5px 0 #0d021a;
}

#calculadoraButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0;
}

#calculadoraGorjeta {
  border: 2px solid #c5e4e7;
  background-image: linear-gradient(75deg, #52a9e4, #c5e4e7, #2abac7);
  color: black;
  transition-duration: 0.2s;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
#calculadoraGorjeta:hover {
  background-position: 0;
  box-shadow: 0 5px 0 #c5e4e7;
}
#calculadoraGorjeta:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0;
}

#chuckNorrisButton {
  border: 2px solid white;
  background-image: url(./projects/chucknorris/img/chuck.jpg);
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  background-size: 110%;
  transition-duration: 0.2s;
}
#chuckNorrisButton:hover {
  background-position: 0;
  box-shadow: 0 5px 0 #ffffff;
}
#chuckNorrisButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0;
}

#crackTheCodeButton {
  background-image: url(./projects/img/codes.jpg);
  background-size: 110%;
  background-repeat: no-repeat;

  color: white;
  border: 2px solid white;
  transition-duration: 0.2s;
}

#crackTheCodeButton:hover {
  background-position: 0;
  box-shadow: 0 5px 0 #ffffff;
}

#crackTheCodeButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0;
}

/*===========================RESPONSIVE===================================*/

@media (min-width: 1269px) {
  .backMainPanel {
    width: 75%;
    height: 580px;
  }

  .mainPanel {
    width: 99%;
    height: 520px;
  }

  .projectButton {
    margin: 0;
    width: 200px;
    height: 120px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 18px;
  }

  .mainPanel h1 {
    font-size: 50px;
  }
}

@media (max-width: 1268px) {
  .backMainPanel {
    width: 85%;
    height: 580px;
  }

  .mainPanel {
    width: 99%;
    height: 520px;
  }

  .projectButton {
    margin: 0;
    width: 200px;
    height: 120px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 18px;
  }

  .mainPanel h1 {
    font-size: 50px;
  }
}

@media (max-width: 1168px) {
  .backMainPanel {
    width: 85%;
    height: 580px;
  }

  .mainPanel {
    width: 99%;
    height: 520px;
  }

  .projectButton {
    margin: 0;
    width: 200px;
    height: 120px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 18px;
  }
}

@media (max-width: 1068px) {
  .backMainPanel {
    width: 80%;
    height: 500px;
  }

  .mainPanel {
    width: 99%;
    height: 450px;
  }

  .projectButton {
    margin: 0;
    width: 180px;
    height: 120px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 15px;
  }
}

@media (max-width: 968px) {
  .backMainPanel {
    width: 80%;
    height: 500px;
  }

  .mainPanel {
    width: 99%;
    height: 450px;
  }

  .projectButton {
    margin: 0;
    width: 150px;
    height: 100px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 15px;
  }
}

@media (max-width: 868px) {
  .backMainPanel {
    width: 80%;
    height: 500px;
  }

  .mainPanel {
    width: 99%;
    height: 450px;
  }

  .projectButton {
    margin: 0;
    width: 120px;
    height: 80px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .backMainPanel {
    width: 80%;
    height: 500px;
  }

  .mainPanel {
    width: 99%;
    height: 450px;
  }

  .projectButton {
    margin: 0;
    width: 120px;
    height: 80px;
  }

  .botoesProjetos {
    margin: 0;
    margin-top: 50px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 15px;
  }
}

@media (max-width: 668px) {
  .botoesProjetos button {
    margin: 5px;
  }
}

@media (max-width: 568px) {
  .projectButton {
    width: 100px;
    height: 60px;
  }

  .botoesProjetos button {
    margin: 5px;
    font-size: 10px;
  }

  .backMainPanel {
    width: 80%;
    height: 400px;
  }

  .mainPanel {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 468px) {
  .projectButton {
    width: 100px;
    height: 60px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 10px;
  }
  .botoesProjetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .backMainPanel {
    width: 80%;
    height: 500px;
  }

  .mainPanel {
    width: 100%;
    height: 450px;
  }

  .mainPanel h1 {
    font-size: 25px;
  }
}

@media (max-width: 368px) {
  .projectButton {
    width: 100px;
    height: 60px;
  }

  .botoesProjetos button {
    margin: 10px;
    font-size: 10px;
  }
  .botoesProjetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .backMainPanel {
    width: 70%;
    height: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mainPanel {
    width: 100%;
    height: 450px;
  }

  .mainPanel h1 {
    font-size: 25px;
  }
}

@media (max-width: 268px) {
  .projectButton {
    width: 100px;
    height: 60px;
  }

  .botoesProjetos button {
    margin: 5px;
    font-size: 10px;
  }
  .botoesProjetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .backMainPanel {
    width: 85%;
    height: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mainPanel {
    width: 100%;
    height: 450px;
  }

  .mainPanel h1 {
    font-size: 20px;
  }
}
