* {
  margin: 0;
  padding: 0;
}

/*====================================== MAIN ======================================*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backMainPanel {
  height: 760px;
  width: 70%;
  background-color: white;
  border-radius: 0.4rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPanel {
  height: 700px;
  width: 100%;
  background-color: #202124;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  color: white;
}

.mainPanel h1 {
  margin-top: 2rem;
  font-size: 42px;
}

/*====================================== BOTOES ======================================*/

.botoesProjetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-top: 8rem;
}

.projectButton {
  margin: 2rem 1rem 1rem 1rem;
  height: 120px;
}
